:root {
  --paper-color: #fff;
  --eraser-color: rgb(255 255 255 / 80%);
  --pencil-color: rgb(0 0 0 / 80%);
  --bucket-color: #2a2a36;

  color: var(--pencil-color);
  background-color: var(--paper-color);
}

* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
