.section:not(:last-child) {
  margin-bottom: 2rem;
}

.section-title {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: normal;
}

.profile-section {
  display: flex;
  align-items: center;
  min-height: 100vh;
}
