@use '@/styles/mixin.scss';

.card {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.divider {
  width: 2px;
  background-color: var(--pencil-color);
  border-radius: 2px;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;

  @include mixin.transition;

  &:hover {
    color: var(--eraser-color);
    background-color: var(--bucket-color);
  }
}

.filled .content {
  color: var(--eraser-color);
  background-color: var(--bucket-color);
}
